<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  ReWriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  ReWriteRule . /index.html [L]
</IfModule>